@{
    ViewData["Title"] = "404 - Not Found";
}

<div class="container text-center mt-5" style="min-height: 60vh;">
    <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" width="300" />
    
    <h1 class="display-4 fw-bold mt-3">Page Not Found</h1>
    <p class="lead text-muted">The page you are looking for doesn't exist or has been moved.</p>
    
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary px-4 py-2 mt-2">
        Go Back Home
    </a>
</div>